In [1]:
# 1) extracting the data from the below web site

url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

In [2]:
# 2) importing the required libraries

from bs4 import BeautifulSoup
import requests

In [3]:
# 2) downloading the webpage at the url

r = requests.get(url).text

In [4]:
# 3) creating a soup object using the BeautifulSoup class to access all the contents of r

soup = BeautifulSoup(r, "html.parser")

In [5]:
# 4) scraping the Language name and annual average salary

table = soup.find("table") # #find a html table in the web page, tag <table>

Language = [] # empty list
AverageAnnualSalary = [] # ...

for row in table.find_all("tr"): # in html table the row is represented by the tag <tr>
    columns = row.find_all("td") # # in html table the column is represented by the tag <td>
    language_name = columns[1].getText() # store the value in column 2 as language_name
    average_salary = columns[3].getText() # store the value in column 4 as average_salary
    Language.append(language_name) # appending values of language_name in Language list
    AverageAnnualSalary.append(average_salary) # appending values of average_salary in AverageAnnualSalary
    
print(Language) 
print(AverageAnnualSalary)

['Language', 'Python', 'Java', 'R', 'Javascript', 'Swift', 'C++', 'C#', 'PHP', 'SQL', 'Go']
['Average Annual Salary', '$114,383', '$101,013', '$92,037', '$110,981', '$130,801', '$113,865', '$88,726', '$84,727', '$84,793', '$94,082']

In [6]:
#Â 5) import pandas

import pandas as pd

df = pd.DataFrame(columns = ["Language", "Average Annual Salary"]) # create df with columns "Language", "Average Annual Salary"

df["Language"] = Language # store values in Language column from Language list
df["Average Annual Salary"] = AverageAnnualSalary # store values in Average Annual Salary column from AverageAnnualSalary list

In [7]:
# 6) Remove first row of DataFrame and reindex the DataFrame by deleting the previous index.
df = df.iloc[1:].reset_index(drop = True)

In [8]:
df

     Language Average Annual Salary
0      Python              $114,383
1        Java              $101,013
2           R               $92,037
3  Javascript              $110,981
4       Swift              $130,801
5         C++              $113,865
6          C#               $88,726
7         PHP               $84,727
8         SQL               $84,793
9          Go               $94,082

In [10]:
# 7) Save the scrapped data into a csv file

df.to_csv("Popular_Languages.csv", index = False)