In [1]:
# 1) import pandas

import pandas as pd

# import df from csv
df = pd.read_csv('survey_data_demographics_not_cleaned.csv')

In [2]:
# 2) Display the top 5 rows and columns from your dataset

df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy

In [3]:
# 3) Print the number of rows in the dataset

print(df.shape[0])

# Print the number of columns in the dataset

print(df.shape[1])

11398
70

In [4]:
# 4) Print info of the data set
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11398 entries, 0 to 11397
Data columns (total 70 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Respondent      11398 non-null  int64
 1   MainBranch      11398 non-null  object
 2   Hobbyist        11398 non-null  object
 3   OpenSourcer     11398 non-null  object
 4   OpenSource      11317 non-null  object
 5   Employment      11398 non-null  object
 6   Country         11398 non-null  object
 7   Student         11347 non-null  object
 8   EdLevel         11286 non-null  object
 9   UndergradMajor  10661 non-null  object
 10  EduOther        11234 non-null  object
 11  OrgSize         11302 non-null  object
 12  DevType         11333 non-null  object
 13  YearsCode       11389 non-null  object
 14  Age1stCode      11385 non-null  object
 15  YearsCodePro    11382 non-null  object
 16  CareerSat       11398 non-null  object
 17  JobSat          11397 non-null  object
 18  MgrIdiot        10905 non-null  object
 19  MgrMoney        10901 non-null  object
 20  MgrWant         10905 non-null  object
 21  JobSeek         11398 non-null  object
 22  LastHireDate    11398 non-null  object
 23  LastInt         10985 non-null  object
 24  FizzBuzz        11361 non-null  object
 25  JobFactors      11395 non-null  object
 26  ResumeUpdate    11359 non-null  object
 27  CurrencySymbol  11398 non-null  object
 28  CurrencyDesc    11398 non-null  object
 29  CompTotal       10589 non-null  float64
 30  CompFreq        11192 non-null  object
 31  ConvertedComp   10582 non-null  float64
 32  WorkWeekHrs     11276 non-null  float64
 33  WorkPlan        11277 non-null  object
 34  WorkChallenge   11234 non-null  object
 35  WorkRemote      11390 non-null  object
 36  WorkLoc         11366 non-null  object
 37  ImpSyn          11393 non-null  object
 38  CodeRev         11397 non-null  object
 39  CodeRevHrs      8972 non-null   float64
 40  UnitTests       11369 non-null  object
 41  PurchaseHow     11202 non-null  object
 42  PurchaseWhat    11360 non-null  object
 43  BetterLife      11300 non-null  object
 44  ITperson        11363 non-null  object
 45  OffOn           11360 non-null  object
 46  SocialMedia     11105 non-null  object
 47  Extraversion    11378 non-null  object
 48  ScreenName      10891 non-null  object
 49  SOVisit1st      11073 non-null  object
 50  SOVisitFreq     11393 non-null  object
 51  SOVisitTo       11397 non-null  object
 52  SOFindAnswer    11395 non-null  object
 53  SOTimeSaved     11348 non-null  object
 54  SOHowMuchTime   9481 non-null   object
 55  SOAccount       11397 non-null  object
 56  SOPartFreq      10270 non-null  object
 57  SOJobs          11392 non-null  object
 58  EntTeams        11393 non-null  object
 59  SOComm          11398 non-null  object
 60  WelcomeChange   11313 non-null  object
 61  SONewContent    9433 non-null   object
 62  Age             11111 non-null  float64
 63  Gender          11325 non-null  object
 64  Trans           11275 non-null  object
 65  Sexuality       10856 non-null  object
 66  Ethnicity       10723 non-null  object
 67  Dependents      11258 non-null  object
 68  SurveyLength    11379 non-null  object
 69  SurveyEase      11384 non-null  object
dtypes: float64(5), int64(1), object(64)
memory usage: 6.1+ MB

In [5]:
# 5) remove empty rows (only nan) and reset index

df = df.dropna(how = 'all').reset_index(drop = True)
df.shape[0]

11398

In [6]:
# 6) find duplicates

df[df.duplicated()].shape[0]

0

In [7]:
# remove duplicates

# df = df.drop_duplicates()

In [8]:
# 7) find null in dataset

if df.isna().sum().sum():
    for column in df.columns:
        if df[column].isna().sum() > 0:
            count_null = df[column].isna().sum()
            percent_null = round(count_null/df.shape[0]*100,2)
            print(column, ":", count_null, ",", percent_null,"%")
else:
    print("the dataset has not null values")

OpenSource : 81 , 0.71 %
Student : 51 , 0.45 %
EdLevel : 112 , 0.98 %
UndergradMajor : 737 , 6.47 %
EduOther : 164 , 1.44 %
OrgSize : 96 , 0.84 %
DevType : 65 , 0.57 %
YearsCode : 9 , 0.08 %
Age1stCode : 13 , 0.11 %
YearsCodePro : 16 , 0.14 %
JobSat : 1 , 0.01 %
MgrIdiot : 493 , 4.33 %
MgrMoney : 497 , 4.36 %
MgrWant : 493 , 4.33 %
LastInt : 413 , 3.62 %
FizzBuzz : 37 , 0.32 %
JobFactors : 3 , 0.03 %
ResumeUpdate : 39 , 0.34 %
CompTotal : 809 , 7.1 %
CompFreq : 206 , 1.81 %
ConvertedComp : 816 , 7.16 %
WorkWeekHrs : 122 , 1.07 %
WorkPlan : 121 , 1.06 %
WorkChallenge : 164 , 1.44 %
WorkRemote : 8 , 0.07 %
WorkLoc : 32 , 0.28 %
ImpSyn : 5 , 0.04 %
CodeRev : 1 , 0.01 %
CodeRevHrs : 2426 , 21.28 %
UnitTests : 29 , 0.25 %
PurchaseHow : 196 , 1.72 %
PurchaseWhat : 38 , 0.33 %
BetterLife : 98 , 0.86 %
ITperson : 35 , 0.31 %
OffOn : 38 , 0.33 %
SocialMedia : 293 , 2.57 %
Extraversion : 20 , 0.18 %
ScreenName : 507 , 4.45 %
SOVisit1st : 325 , 2.85 %
SOVisitFreq : 5 , 0.04 %
SOVisitTo : 1 , 0.01 %
SOFindAnswer : 3 , 0.03 %
SOTimeSaved : 50 , 0.44 %
SOHowMuchTime : 1917 , 16.82 %
SOAccount : 1 , 0.01 %
SOPartFreq : 1128 , 9.9 %
SOJobs : 6 , 0.05 %
EntTeams : 5 , 0.04 %
WelcomeChange : 85 , 0.75 %
SONewContent : 1965 , 17.24 %
Age : 287 , 2.52 %
Gender : 73 , 0.64 %
Trans : 123 , 1.08 %
Sexuality : 542 , 4.76 %
Ethnicity : 675 , 5.92 %
Dependents : 140 , 1.23 %
SurveyLength : 19 , 0.17 %
SurveyEase : 14 , 0.12 %

In [9]:
# 8) Impute NaN values with the mean for the 'Age' column because si symmetric column

df['Age'] = df['Age'].fillna(df['Age'].mean())

# Impute NaN values with the median for the other columns
df['CompTotal'] = df['CompTotal'].fillna(df['CompTotal'].median())
df['ConvertedComp'] = df['ConvertedComp'].fillna(df['ConvertedComp'].median())
df['WorkWeekHrs'] = df['WorkWeekHrs'].fillna(df['WorkWeekHrs'].median())
df['CodeRevHrs'] = df['CodeRevHrs'].fillna(df['CodeRevHrs'].median())

In [10]:
# 9) convert data type of some columns of type 'float64'
df[['CompTotal','ConvertedComp','WorkWeekHrs','CodeRevHrs','Age']] = df[['CompTotal','ConvertedComp','WorkWeekHrs','CodeRevHrs','Age']].astype(int)

In [11]:
# 10) List out the various categories in the column 'CompFreq'

df['CompFreq'].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

In [12]:
# 11) create a new column which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

def normalize_annual_compensation(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        return 0

df['NormalizedAnnualCompensation'] = df.apply(normalize_annual_compensation, axis = 1)

In [13]:
# 12) verify comparison of the totals between columns
print(df[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']].sample(10))

      CompFreq  CompTotal  NormalizedAnnualCompensation
6438    Yearly      90000                         90000
8865    Yearly      76000                         76000
6240    Yearly     600000                        600000
8862   Monthly      45000                        540000
10060   Yearly     900000                        900000
5462    Yearly      62000                         62000
7100   Monthly   10000000                     120000000
1765    Yearly      54000                         54000
9812    Yearly      32000                         32000
3563    Yearly      90000                         90000

In [14]:
# 13) print distinct countries which there are in the "Country" column

print("number of the Countries present in the world wide survey is:",
      df.Country.nunique())

number of the Countries present in the world wide survey is: 135

In [16]:
# 14) Save the cleaned data into a csv file

df.to_csv('Survey_Data_Demographics.csv', index = False)